$primary-background-color: #080931;
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$primary-sub-text-color: #333333;
$blue-color: #8caaee;
$teal-color: #00ffff;
$red-color: #e78284;
$orange-color: #ff9900;
$yellow-color: #e5c890;
$sky-color: #99d1db;
$overlay-color: #949cbb;
$base-color: #424342;
$lavender-color: #7287fd;
$light-theme-red: #e78284;
$neptune-color: #a5b4fc;
$bronze-color: #d58936;
$white-color: #ffffff;
$black-color: #000000;
$app-bar-height: 70px;
