<div class="container">
  <div class="welcome-message">
    <p class="message">
      I'm an engineer who enjoys learning new tools and building clean, scalable front-end
      applications and small tools. I also have working knowledge of .NET back-end APIs and some C++
      experience, which helps me collaborate across the stack. I'm always looking to improve and
      take on new challenges.
    </p>
  </div>

  <div class="app-profile-card">
    <app-profile-card-component></app-profile-card-component>
  </div>
</div>
