<div class="card-container">
  <img src="profile.png" alt="Profile Image" class="profile-image" />
  <h2>Abhay Kumar</h2>
  <div class="profile-details">
    <p>Software Developer | Tech Enthusiast | Lifelong Learner</p>
    <div>
      <a href="https://www.linkedin.com/in/abhay-kumar-984aa819b/" target="_blank">
        <mat-icon svgIcon="linkedin"></mat-icon>
      </a>
      <a href="https://github.com/natsuo26" target="_blank">
        <mat-icon svgIcon="github"></mat-icon>
      </a>
    </div>
  </div>
</div>
